{% load static %}
<style>
  .sidebar {
    min-height: 100vh;
  }
  .sidebar .nav-link {
    color: white;
  }
  .sidebar .nav-link:hover {
    color: #ffc107;
    background-color: #495057;
  }
</style>
<nav class="col-md-3 sidebar bg-dark collapse d-md-block pt-3">
  <div class="text-white text-center">
    <img
      src="{% static 'images/user1.jpg' %}"
      class="rounded-circle mb-2"
      width="90"
      height="90"
    />
    <h6>Admin</h6>
  </div>
  <ul class="nav flex-column mt-4">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#classesMenu"
        data-bs-toggle="collapse" aria-expanded="false">
        <i class="fa fa-chalkboard me-2"></i>Classes
        <i class="fa fa-chevron-down float-end ms-2"></i></a>
      <div id="classesMenu" class="collapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create-class' %}"
              ><i class="fa fa-plus me-2"></i>Add Class</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view-classes' %}"
              ><i class="fa fa-table me-2"></i>View Classes</a
            >
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#subjectMenu"
        data-bs-toggle="collapse"
        aria-expanded="false">
        <i class="fa fa-book me-2"></i>Subjects
        <i class="fa fa-chevron-down float-end ms-2"></i></a>
      <div id="subjectMenu" class="collapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create-subject' %}"
              ><i class="fa fa-plus me-2"></i>Create Subject</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage-subjects' %}"  
              ><i class="fa fa-list me-2"></i>Manage Subjects</a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'create-subjectcombination' %}"
              ><i class="fa fa-layer-group me-2"></i>Add Subject Combination</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/manage-subjectcombinations/"
              ><i class="fa fa-layer-group me-2"></i>Manage Subject Combination</a>
          </li>

        </ul>
      </div>
    </li>

        <li class="nav-item">
      <a class="nav-link" href="#studentMenu" data-bs-toggle="collapse" aria-expanded="false">
        <i class="fa fa-user-graduate me-2"></i>Students
        <i class="fa fa-chevron-down float-end ms-2"></i></a>
      <div id="studentMenu" class="collapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-student' %}"
              ><i class="fa fa-plus me-2"></i>Add Student</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage-students' %}"
              ><i class="fa fa-list me-2"></i>Manage Students</a
            >
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#resultMenu" data-bs-toggle="collapse" aria-expanded="false">
        <i class="fa fa-clipboard-list me-2"></i>Results
        <i class="fa fa-chevron-down float-end ms-2"></i></a>
      <div id="resultMenu" class="collapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-result' %}"
              ><i class="fa fa-plus me-2"></i>Add Result</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage-results' %}"
              ><i class="fa fa-list me-2"></i>Manage Results</a
            >
          </li>
        </ul>
      </div>
    </li>

        <li class="nav-item">
      <a class="nav-link" href="#noticeMenu" data-bs-toggle="collapse" aria-expanded="false">
        <i class="fa fa-bullhorn me-2"></i>Notices
        <i class="fa fa-chevron-down float-end ms-2"></i></a>
      <div id="noticeMenu" class="collapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fa fa-plus me-2"></i>Add Notice</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fa fa-list me-2"></i>Manage Notices</a
            >
          </li>
        </ul>
      </div>
    </li>

     <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-key me-2"></i>Change Password</a
      >
    </li>

  </ul>
</nav>
